@charset="utf-8";
*{
	margin:0;
	padding:0;
	text-decoration: none;
	list-style: none;
	font-family: "微软雅黑";
}
@media screen and (min-width: 640px) {
header{
		width: 1200px;
		margin:0 auto;
		height: 90px;
		background: #40bad2;
	}
	header h1{
		display: inline-block;
		background:url(../images/logo.png) no-repeat;
		height: 30px;
		width: 264px;
		float: left;
		margin-top: 33px;
		margin-left: 28px;
	}
	header p{
		font-size: 18px;
		color: #fff;
		float: left;
		padding-top: 44px;
		margin-left: 53px;
	}
	section{
		width: 1200px;
		height: 592px;
		margin:0 auto;
		overflow: hidden;
	}
	section .left{
		width: 271px;
		border-right: 1px solid #40bad2;
		float: left;
		background:#d1eef4;
		height: 592px;
	}
	section .left h1{
		background: url(../images/index.png) no-repeat;
		width: 200px;
		height: 200px;
		margin-top: 34px;
		margin-left: 37px;
		margin-bottom: 31px;
	}
	nav ul li{
		width: 271px;
		height: 53px;
	}
	nav ul li:hover{
		background:#40bad2;
	}
	nav ul .nav-1:hover{
		background:url(../images/jiao.png);
	}
	nav ul .nav-4{
		background:#40bad2;
	}
	nav ul .nav-4 span{
		font-size: 18px;

		color: #fff;
	}
	nav ul li a img{
		margin-right: 13px;
	}
	nav ul .shouye a img{
		margin-top: 15px;
	}
	nav ul .nav-2 i{
		background: url(../images/nav-2.png);
		width: 25px;
		height: 22px;
	}
	nav ul li a{
		margin-left: 43px;
		line-height: 53px;
		font-size: 18px;
		color: #000;
	}
	nav{
		position: relative;
	}
	nav .jiao{
		position: absolute;
		left: 272px;
		top:179px;
	}
																/*内容区域改的*/
	.right{
		float: left;
		width: 860px;
		margin-left: 24px;
	}
	.right-s{
		width: 860px;
		border-bottom: 1px solid #efefef;
		padding-top: 15px;
	}
	.right-s p{
		color: #72b7bc;
		font-size: 14px;
		line-height: 40px;
		margin-left: 4px;
	}
	.x-left{
		width: 575px;
		float: left;
	}
	.x-left h3{
		line-height: 100px;
		color: #007e86;
		font-size: 36px;
	}
	.x-left p{
		font-size: 14px;
		color: #a1a1a1;
		line-height: 30px;
	}
	.x-left .p-1{
		margin-bottom: 30px;
	}
	.x-left .p-2{
		margin-bottom: 30px;
	}
	.x-right{
		float: left;
		margin-left: 66px;
		padding-top: 30px;
	}
	.x-right .xiong-1{
		display: block;
		background:url(../images/about-1.png) no-repeat;
		width: 216px;
		height: 145px;
		margin-bottom: 19px;
	}
	.x-right .xiong-2{
		display: block;
		background:url(../images/about-2.png) no-repeat;
		width: 216px;
		height: 145px;
	}

	                                                                /*到这*/
	.lil{
		width: 1200px;
		height: 68px;
		background: #d9f1f6;
		margin:0 auto;
	}
	.lil span{
		line-height: 68px;
		font-size: 18px;
		color: #666;
		float: left;
	}
	.lil-1{
		margin-left: 128px;
	}
	.lil-1 i{
		display: inline-block;
		background: url(../images/xinlang.png) no-repeat;
		width: 27px;
		height: 22px;
		margin-right: 5px;
		float: left;
		position: relative;
		top: 22px;
	}
	.lil-1 p{
		float: left;
		margin-right: 5px;
	}
	.lil-2 i{
		display: inline-block;
		background: url(../images/shouji.png) no-repeat;
		width: 16px;
		height: 27px;
		margin-right: 5px;
		float: left;
		position: relative;
		top: 20px;
	}
	.lil-2 p{
		margin-right: 5px;
	}
	.lil-3 i{
		display: inline-block;
		background: url(../images/qq.png) no-repeat;
		width: 24px;
		height: 25px;
		margin-right: 5px;
		float: left;
		position: relative;
		top: 23px;
	}
	footer{
		width: 1200px;
		height: 68px;
		background:#fff;
		margin:0 auto;
	}
	footer span{
		font-size: 12px;
		line-height: 68px;
		color: #666;
		margin-left: 332px;
	}
	footer .foot-1{
		margin-left: 38px;
	}
}
@media screen and (max-width: 641px) {
	header{
		width: 100%;
		height: 91px;
		background:#ffe465;
		overflow: hidden;
	}
	.bj h1{
		background:url(../images/lan-logo.png) no-repeat;
		position: relative;
		top: 30px;
		width: 238px;
		height: 30px;
		margin:0 auto;
	}
	header p{
		display: none;
	}
	section .left .bj{
		display: none;
	}
	nav ul li img{
		display: none;
	}
	nav ul li span{
		display: none;
	}
	nav ul li{
		float: left;
		width: 128px;
	}
	nav {
		width: 640px;
		height: 135px;
	}
	nav ul li{
		margin-top: 60px;
	}
	nav ul li .i-1{
		display: block;
		background:url(../images/biao-sy.png) no-repeat 0 0;
		width: 41px;
		height: 33px;
		margin:0 auto;
	}
	nav ul li .i-2{
		display: block;
		background:url(../images/biao-sy.png) no-repeat -125px -0px;
		width: 40px;
		height: 30px;
		margin:0 auto;

	}
	nav ul li .i-3{
		display: block;
		background:url(../images/biao-sy.png) no-repeat -252px 0px;
		width: 32px;
		height: 37px;
		margin:0 auto;
	}
	nav ul li .i-4{
		display: block;
		background:url(../images/biao-sy.png) no-repeat -380px -95px;
		width: 28px;
		height: 29px;
		margin:0 auto;
	}
	nav ul li .i-5{
		display: block;
		background:url(../images/biao-sy.png) no-repeat -503px 0;
		width: 28px;
		height: 32px;
		margin:0 auto;
	}
	nav .jiao{
		display: none;
	}
	.right-s{
		display: none;
	}
	.x-left h3{
		width: 100%;
		height: 90px;
		background:#ffefa3;
		font-size: 48px;
		color: #007e86;
		text-align: center;
		font-weight: 700;
		margin-bottom: 50px;
	}
	.hui{
		width: 605px;
		background:#f3f3f3;
		margin:0 auto;
		clear: both;
		overflow: hidden;
	}
	.x-left p{
		font-size: 28px;
		color: #a1a1a1;
		margin-left: 20px;
		margin-bottom: 20px;
	}
	.x-left .p-1{
		margin-top: 40px;
	}
	.lil{
		width: 603px;
		height: 174px;
		background:#cce5e7;
		margin:0 auto;
		clear: both;
		overflow: hidden;
		padding-top: 50px;
		padding-left: 37px;
		margin-top:53px;
	}
	.lil p{
		float: left;
		font-size: 18px;
		color: #616161;
	}
	.lil-1 i{
		display: inline-block;
		background: url(../images/xinlang.png) no-repeat;
		width: 27px;
		height: 22px;
		float: left;
		margin-right: 10px;
	}
	.lil-1 p{
		float: left;
		margin-right: 5px;
		margin-bottom: 10px;
	}
	.lil-2 i{
		display: inline-block;
		background: url(../images/shouji.png) no-repeat;
		width: 16px;
		height: 27px;
		float: left;
		margin-right: 20px;
		clear: both;
	}
	.lil-2 p{
		margin-right: 5px;
		margin-bottom: 10px;
	}
	.lil-3 i{
		display: inline-block;
		background: url(../images/qq.png) no-repeat;
		width: 24px;
		height: 25px;
		float: left;
		clear: both;
		margin-right: 10px;
	}
	footer{
		height:115px;
		overflow: hidden;
		clear: left;
	}
	footer span{
		font-size: 12px;
		color: #a2a2a2;
		margin-left: 50px;
		position: relative;
		top: 50px;
	}
	footer .foot-1{
		margin-left: 30px;
	}
}